.head {

    height: 600px !important;
    object-fit: cover;

    background-size: cover !important;
    background-position: center;
    animation-name: animate;
    animation-duration: 20s;

    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    transition: step-end;
}

/* .popup-content {
    align-items: centers;
    width: 100%;
    height: 50%;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 10px ;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */
  
  .align-items{
    align-items: center;
  }


.room h1 {


    font-size: 100px;
    
    padding-top: 20px;

 
    /* float: left; */
}





@keyframes animate {

    0%,
    100% {
        background-image: url('../../images/Uranus.jpg');
        background-size: 90% 90%;
        /* Initial size */
        background-repeat: no-repeat;
    }

    25% {
        background-image: url('../../images/Saturn.jpg');
        background-size: 90% 90%;
        /* Initial size */
        background-repeat: no-repeat;
    }

    50% {
        background-image: url('../../images/Neptune.jpg');
        background-size: 90% 90%;
        /* Initial size */
        background-repeat: no-repeat;
    }

    75% {
        background-image: url('../../images/Uranus.jpg');
        background-size: 90% 90%;
        /* Initial size */
        background-repeat: no-repeat;
    }
}


.rooma {
    /* background-image: url("../../images/rooma.jpg"); */

    animation-name: example;
    animation-duration: 25s;

    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}


@keyframes example {
    0% {
        background-image: url('../../images/heater.jpeg');
        background-size: 90% 90%;
        /* Initial size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    25% {
        background-image: url('../../images/bathroom.jpeg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    50% {
        background-image: url('../../images/balcony.jpg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    75% {
        background-image: url('../../images/yellowbed.jpg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    100% {
        background-image: url('../../images/heater.jpeg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }
}


.roomb {
    /* background-image: url("../../images/rooma.jpg"); */

    animation-name: examples;
    animation-duration: 25s;

    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}


@keyframes examples {
    0% {
        background-image: url('../../images/mercurya.png');
        background-size: 90% 90%;
        /* Initial size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    25% {
        background-image: url('../../images/mercuryb.png');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    50% {
        background-image: url('../../images/mercury.jpg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    75% {
        background-image: url('../../images/sunflower.jpg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    100% {
        background-image: url('../../images/mercurya.png');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }
}

.roomc {
    /* background-image: url("../../images/rooma.jpg"); */

    animation-name: examplec;
    animation-duration: 25s;

    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}


@keyframes examplec {

    0% {
        background-image: url('../../images/lefts.jpg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    50% {
        background-image: url('../../images/balc.jpg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    75% {
        background-image: url('../../images/rights.jpg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    100% {
        background-image: url('../../images/lefts.jpg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }

}

.roomd {
    /* background-image: url("../../images/rooma.jpg"); */

    animation-name: exampled;
    animation-duration: 25s;

    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}


@keyframes exampled {
    0% {
        background-image: url('../../images/saturna.jpeg');
        background-size: 90% 90%;
        /* Initial size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    50% {
        background-image: url('../../images/saturnc.jpeg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    75% {
        background-image: url('../../images/saturnd.jpeg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    100% {
        background-image: url('../../images/saturna.jpeg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }
}

.roome {
    /* background-image: url("../../images/rooma.jpg"); */

    animation-name: examplee;
    animation-duration: 25s;

    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}


@keyframes examplee {
    0% {
        background-image: url('../../images/uranusa.jpeg');
        background-size: 90% 90%;
        /* Initial size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    25% {
        background-image: url('../../images/uranausb.jpeg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    50% {
        background-image: url('../../images/uranusc.jpeg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    75% {
        background-image: url('../../images/uranusd.jpeg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    100% {
        background-image: url('../../images/uranusa.jpeg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }
}

.roomf {
    /* background-image: url("../../images/rooma.jpg"); */

    animation-name: examplef;
    animation-duration: 25s;

    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}


@keyframes examplef {
    0% {
        background-image: url('../../images/blue.jpeg');
        background-size: 90% 90%;
        /* Initial size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    25% {
        background-image: url('../../images/neptunea.jpg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    50% {
        background-image: url('../../images/Neptune.jpg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    100% {
        background-image: url('../../images/neptunea.jpg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }
}

.ptag {
    text-wrap: balance;
    justify-content: space-between;
    font-family: 'EB Garamond', sans-serif;
    font-weight: 300;
    font-size: 17px;
    color: #0c617d;

}
.ptags {
    text-wrap: balance;
    justify-content: space-between;
    font-family: 'EB Garamond', sans-serif;
 
    font-size: 15px;
    color: #0c617d;

}

p {

    color: #0c617d;
}

.htag {
    font-family: 'EB Garamond', sans-serif;
    font-weight: 600;
    font-size: 34px;
    color: #117CA1;
}

.htags {
    font-family: 'EB Garamond', sans-serif;
    font-weight: 500;
    font-size: 33px;
    color: #117CA1;
 
   
    align-items: center;
    

}

#roomtag {
    background-color: 2px solid red;
}

.btns {
    color: #117CA1;
}


/*mobile view for room page*/

@media (min-width: 300px) and (max-width: 766px) {
    .htag {
        font-family: 'EB Garamond', sans-serif;
        font-size: 30px;
        color: #117CA1;
        text-align: center;
        justify-content: center;
        
    }
    .htags{
        display: none
    }
    .htagr{
        font-family: 'EB Garamond', sans-serif;
        font-size: 30px;
        color: #117CA1;
        text-align: center;
    }

    .ptag {
        text-wrap: stable;

        font-size: 20px;

       
        font-family: 'EB Garamond', sans-serif;

        color: #0c617d;

    }

    .btns {
        display: flex !important;
        margin: auto;
        margin-bottom: 13px;

    }

    p {

        color: #0c617d;
        text-align: center;
        font-size: 30px;
        margin-top:15px

    }

    .head {
        height: 300px !important;
    }

    .head p {
        font-size: 15px;
        font-weight: 34px;
        text-align: left;
    }

    .room h1 {
        font-size: 70px;
    }

    .rooma {
        margin-left: 17px;


    }

    .roomb {
        margin-left: 17px;


    }

    .roomc {
        margin-left: 17px;


    }

    .roomd {
        margin-left: 17px;


    }

    .roome {
        margin-left: 17px;


    }

    .roomf {
        margin-left: 17px;


    }
}


@media (min-width: 768px) and (max-width: 4000px){
.htagsMob{
    display: none;
}
}

