.head {

    height: 600px !important;
    object-fit: cover;

    background-size: cover !important;
    background-position: center;
    animation-name: animate;
    animation-duration: 30s;

    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    transition: step-end;

}
.btn{
    background-color: #0c617d !important;
    color: white !important;
}

.room h1 {


    font-size: 100px;
    
    padding-top: 20px;

 
    /* float: left; */
}




@keyframes animate {

    0%,
    100% {
        background-image: url('../../images/love.png');
        background-size: 70% 70%;
        /* Initial size */
        background-repeat: no-repeat;
    }

    25% {
        background-image: url('../../images/open.jpg');
        background-size: 70% 70%;
        /* Initial size */
        background-repeat: no-repeat;
    }

    50% {
        background-image: url('../../images/red.jpg');
        background-size: 70% 70%;
        /* Initial size */
        background-repeat: no-repeat;
    }

    75% {
        background-image: url('../../images/blue.png');
        background-size: 70% 70%;
        /* Initial size */
        background-repeat: no-repeat;
    }
}


.rooma {
    /* background-image: url("../../images/rooma.jpg"); */

    animation-name: example;
    animation-duration: 25s;

    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}


@keyframes example {
    0% {
        background-image: url('../../images/stda.png');
        background-size: 90% 90%;
        /* Initial size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    25% {
        background-image: url('../../images/stdb.jpg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    50% {
        background-image: url('../../images/stdc.jpg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    75% {
        background-image: url('../../images/stdd.jpg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    100% {
        background-image: url('../../images/stda.png');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }
}


.roomb {
    /* background-image: url("../../images/rooma.jpg"); */

    animation-name: examples;
    animation-duration: 25s;

    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}


@keyframes examples {
    0% {
        background-image: url('../../images/stde.jpeg');
        background-size: 90% 90%;
        /* Initial size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    25% {
        background-image: url('../../images/stdf.jpeg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    50% {
        background-image: url('../../images/stdg.jpeg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    75% {
        background-image: url('../../images/stde.jpeg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    100% {
        background-image: url('../../images/stdf.jpeg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }
}

.roomc {
    /* background-image: url("../../images/rooma.jpg"); */

    animation-name: examplec;
    animation-duration: 25s;

    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}


@keyframes examplec {

    0% {
        background-image: url('../../images/threea.jpg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    50% {
        background-image: url('../../images/threeb.jpg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    75% {
        background-image: url('../../images/threec.jpg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    100% {
        background-image: url('../../images/threed.jpg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }

}

.roomd {
    /* background-image: url("../../images/rooma.jpg"); */

    animation-name: exampled;
    animation-duration: 25s;

    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}


@keyframes exampled {
    0% {
        background-image: url('../../images/grounda.jpg');
        background-size: 90% 90%;
        /* Initial size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    50% {
        background-image: url('../../images/groundb.jpg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    75% {
        background-image: url('../../images/groundc.jpg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    100% {
        background-image: url('../../images/groundd.jpg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }
}

.roomx {
    /* background-image: url("../../images/rooma.jpg"); */

    animation-name: examplee;
    animation-duration: 25s;

    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}


@keyframes examplee {
    0% {
        background-image: url('../../images/firsta.jpg');
        background-size: 90% 90%;
        /* Initial size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    25% {
        background-image: url('../../images/firstb.jpg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    50% {
        background-image: url('../../images/firstc.jpg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    75% {
        background-image: url('../../images/firstd.jpg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    100% {
        background-image: url('../../images/uranusa.jpeg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }
}

.roomf {
    /* background-image: url("../../images/rooma.jpg"); */

    animation-name: examplef;
    animation-duration: 25s;

    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}


@keyframes examplef {
    0% {
        background-image: url('../../images/blue.jpeg');
        background-size: 90% 90%;
        /* Initial size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    25% {
        background-image: url('../../images/neptunea.jpg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    50% {
        background-image: url('../../images/Neptune.jpg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }

    100% {
        background-image: url('../../images/neptunea.jpg');
        background-size: 90% 90%;
        /* Final size */
        background-repeat: no-repeat;
        /* No repetition */
    }
}

.ptag {
    text-wrap: balance;
    justify-content: space-between;
    font-family: 'EB Garamond', sans-serif;
    font-weight: 300;
    font-size: 17px;
    color: #0c617d;

}

p {

    color: #0c617d;
}

.htag {
    font-family: 'EB Garamond', sans-serif;
    font-weight: 600;
    font-size: 34px;
    color: #117CA1;
}

.htage {
    font-family: 'EB Garamond', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #117CA1;
    text-align: center;
}

.htags {
    font-family: 'EB Garamond', sans-serif;
    font-weight: 500;
    font-size: 33px;
    color: #117CA1;
 
   
    align-items: center;
    

}

#roomtag {
    background-color: 2px solid red;
}




/*mobile view for room page*/

@media (min-width: 300px) and (max-width: 766px) {
    .head {

        height: 600px !important;
        
        object-fit: cover;
    
        background-size: cover !important;
        background-position: center;
        animation-name: animate;
        animation-duration: 30s;
    
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
        transition: step-end;
    
    }
    @keyframes animate {

        0%,
        100% {
            background-image: url('../../images/love.png');
            background-size: 70% 70%;
            /* Initial size */
            background-repeat: no-repeat;
        }
    
        25% {
            background-image: url('../../images/open.jpg');
            background-size: 70% 70%;
            /* Initial size */
            background-repeat: no-repeat;
        }
    
        50% {
            background-image: url('../../images/red.jpg');
            background-size: 70% 70%;
            /* Initial size */
            background-repeat: no-repeat;
        }
    
        75% {
            background-image: url('../../images/blue.png');
            background-size: 70% 70%;
            /* Initial size */
            background-repeat: no-repeat;
        }
    }
    
    
    
    .htag {
        font-family: 'EB Garamond', sans-serif;
        font-size: 30px;
        color: #117CA1;
        text-align: center;
        
    }
    .htags{
        display: none
    }
    .htagr{
        font-family: 'EB Garamond', sans-serif;
        font-size: 5px;
        color: #117CA1;
     
    }

 .jupiter .ptag {
    
    
        font-family: 'EB Garamond', sans-serif;

        text-align:start;
        font-size: 13px ;
        font-weight:normal;
        color: #0c617d;

    }
    
 .mars .ptag {
    
    
    font-family: 'EB Garamond', sans-serif;

    text-align:start;
    color: #0c617d;
    font-size: 13px ;
    font-weight:normal;

}

.Mercury .ptag {
    
    
    font-family: 'EB Garamond', sans-serif;

    text-align:start;
    color: #0c617d;
    font-size: 13px ;
    font-weight:normal;

}
.saturn .ptag {
    
    font-size: 12px ;
    
  
    font-family: 'EB Garamond', sans-serif;

    text-align:start;
    color: #0c617d;

}
    .btns {
        display: flex !important;
        margin: auto;
        margin-bottom: 13px;
        background-color: #0c617d !important;
color: white !important;
width: 75%;
text-align: center;
justify-content: center;
    }

    p {

        color: #0c617d;
        text-align: center;
        font-size: 15px;

    }

    .head {
        height: 300px !important;
    }

    .head p {
        font-size: 15px;
        font-weight: 34px;
        text-align: left;
    }

    .room h1 {
        font-size: 60px;
        text-align: center;
    }

    .rooma {
        margin-left: 17px;


    }

    .roomb {
        margin-left: 17px;


    }

    .roomc {
        margin-left: 17px;


    }

    .roomd {
        margin-left: 17px;


    }

    .roome {
        margin-left: 17px;


    }

    .roomf {
        margin-left: 17px;


    }
    .roomx {
        margin-left: 17px;


    }
}


@media (min-width: 768px) and (max-width: 4000px){
.htagsMob{
    display: none;
}
}


@media (min-width: 320px) and (max-width: 400px){
.dataSys{
    display: none;
}




}

@media (min-width: 700px) and (max-width: 4000px){
    .dataMob{
        display: none;
    }
   
    }
  
        @media (min-width:300px) and (max-width: 500px){
       .head{
     display: flex;
     margin: auto;
        width: 90%;
       }
       .room .htagr{
       font-size:44px;
       margin-top: 20px;
       }
       .come{
      display: block;
      width: 100%;
       }
       .rooma{
        display: flex;
  
        height: 182px;
  
       }
       .roomb{
        display: flex;
  
        height: 182px;
  
       }
       .roomc{
        display: flex;
  
        height: 182px;
  
       }
       .roomd{
        display: flex;
  
        height: 182px;
  
       }
       .roome{
        display: flex;
  
        height: 182px;
  
       }
       .roomx{
        display: flex;
  
        height: 182px;
  
       }
       .htag{
   
        font-size: 24px;
        display: flex;
     
       }
      
       .system{
        display: none;
       }
  
            
            }
            @media (min-width: 400px) and (max-width: 4000px){
                .dataMob{
                    display: none;
                }
                .systems{
                    display: none;
                }
              
                
                }
    
