@media (max-width: 767px) {
    .sys {
        display: none;
    }
    .mob{
        margin-top: 47px;
    }
}
@media  (min-width:700px){
   .mob{
    display: none;
   }
}
.bg-panel-color{
    background-color: #5B40E1 !important;
}